@charset "UTF-8";
/*********************
1. WEB FONTS
*********************/

html, body, h1, h2, h3, h4, h5, p { font-family: "Inter", sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; }

/************************************************

MAIN STYLESHEET

*************************************************/

/*********************
2. GENERAL STYLES
*********************/

h1, h2, h3, h4, h5, b, strong {font-weight: 700;}
h1 small, h2 small, h3 small, h4 small, h5 small {opacity:0.85}

.txt-center {
  text-align: center;
}

.page blockquote {
font-size: 1.5rem;
color: #231F20;
border-left: 0px solid #ec1f27;
padding: 25px 0 25px 0;
}

.page blockquote p {
font-size: 1.5rem;
color: #231F20;
padding: 0;
}

img.bullet-icon {
    height: 2em;
    width: 2em;
    margin-right: 1em;
    float: left;
    margin-top: 0.5em;
}

.calendar-category-menu .menu.vertical > li {
  margin: 0;
}

.calendar-category-menu .js-dropdown-active, ul.dropdown.menu.calendar-category-menu > li:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

ul.dropdown.menu.calendar-category-menu > li > a:hover {
  background-color: transparent;
  color: #ec1f27;
}

.calendar-category-menu > li {
  background-color: #fefefe;
    width: 100%;
    border: 1px solid #ccc;
    display: block;
}

.calendar-category-menu > li.is-active {
  border-radius: 1rem 1rem 0 0;
}

.tribe-events-category-new-member .tribe-events-month-event-title a:after {
content: "🌹";
}

img.icon-list {
  height: 3rem;
  width: auto;
  display: inline-block;
}

.page blockquote:before {
    content: '';
    width: 50%;
  top: 25px;
  border-top: 8px solid #231F20;
}

.page blockquote:after {
        content: '';
        width: 50%;
        bottom: 25px;
        border-bottom: 8px solid #231F20;
}

.sdsa-page-hero {
  background-attachment: initial;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center 25%;
}

.sdsa-page-hero .page-title {
  color: white;
  margin: 1rem;
  font-size: 4rem;
}

.archive #content {
  background-color: #f9f9f9;
}

.archive.post-type-archive-tribe_events #content {
  background-color: #fff;
}

.archive.post-type-archive-tribe_events .tribe-events-tooltip p {
  font-size: 0.9rem;
}

.tribe-event-description a.excerpt-read-more {
	display: block;
}


.archive.category .post .entry-content p, .archive.category .post .entry-content h1, .archive.category .post .entry-content h2, .archive.category .post .entry-content h3, .archive.category .post .entry-content h4, .archive.category .post .entry-content h5  {
  margin-bottom: 1rem;
    font-size: 100%;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

.archive-card .row.archive-item-image {
  margin: 0 -13px 1rem -13px;
}

.archive #content #inner-content {
  padding: 0rem 0rem 1rem 0rem;
}

.archive-item-image a {
  display: block;
  min-height: 12rem;
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home .page-title {
  display:none;
}

.dsa-main {
  padding-bottom: 2rem;
}

.icon-bullet {
    height: 2em;
    width: 2em;
    margin-right: 1em;
    float: left;
    margin-top: 0.5em;
}

.dsa-main-logo {
  float: left;
  margin: 1rem 1rem 0 0;
}

/*********************
3. LINK STYLES
*********************/
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #ec1f27;
}

a:focus, a:hover {
  color: #EC1F27;
  background-color: #fff3f3;
  box-shadow: 0 5px 8px rgba(244,67,54,0.25);
  text-decoration: underline;
}

/*********************
4. H1, H2, H3, H4, H5 P STYLES
*********************/

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }

.caps {
  text-transform: uppercase;
}

.thin {
  font-weight: 300;
}

/*********************
5. HEADER STYLES
*********************/

.header ul.off-canvas-list li {
  list-style: none; }

/*********************
6. MENU & NAVIGATION
*********************/
.top-bar {
  padding: 0;
  border-bottom:  1px solid rgba(51, 51, 51, 0.1);
}

.top-bar .title-area {
  z-index: 1; }

.off-canvas-list ul {
  margin-left: 0; }

.off-canvas-list ul li a {
    border-bottom: 0px;
}

.off-canvas-list ul .dropdown {
    margin-left: 20px;
}

.top-bar, .top-bar ul, .off-canvas { 
  background-color: white;
}

.top-bar a, .top-bar ul a {
color: #231F20;
}

.top-bar-right a, .off-canvas .menu>li>a {
font-size: 1rem;
}


.dropdown.menu li.opens-right .is-dropdown-submenu {
  width: 100%;
  list-style: none;
}

.dropdown.menu li.is-active a {
  color: #ec1f27;
}

.top-bar img.dsa-rose-mark {
  height: 2rem;
  width: auto;
  display: inline-flex;
  padding: 0;
  margin: 0.25rem;
  line-height:1;
  vertical-align: top;
}

.menu li a.dsa-top-name {
  display: inline-flex;
  padding: 0.75rem 0 0.75rem 0;
  font-weight: bold;
  font-weight: 700;
}

.menu.vertical>li {
  padding-top: 0;
}

.menu li a {
  padding: 0.75rem 1rem;
    font-size: 1rem;
    box-shadow: none;
}

.menu .is-active > a {
  background-color: rgba(236,31,39,.015);
}

.menu li.active a {
  color: #ec1f27;
  background-color: #fff;
  font-weight: 700;
  box-shadow: none;
}

.menu li.active a:hover, .off-canvas .menu>li>a:hover, .top-bar a:hover, .top-bar ul a:hover, .top-bar-right a:hover {
  background-color: transparent;
  box-shadow: none;
  color: #ec1f27;
  text-decoration: underline;
}

#menu-footer.menu > li {
  width: 45%;
  display:inline-block;
}

@media screen and (min-width: 40rem) {

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
border-color: #ec1f27 transparent transparent!important;
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left>a::after {
  border-color: transparent #ec1f27 transparent transparent;
}
}

.page-title {
color: #231F20;
margin: 4rem 0 3rem 0;
}

.bg-dsa-black {
  background-color: #231F20;
}

.bg-dsa-red {
  background: #EC1F27;
    background: -webkit-linear-gradient(left,#EC1F27 0%,#FF1744 100%);
    background: linear-gradient(to right,#EC1F27 0%,#FF1744 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC1F27',endColorstr='#FF1744',GradientType=1);
}

.bg-light {
  background-color: #fafafa;
}

.txt-dsa-red {
  color: #ec1f27;
}

.btn.bg-dsa-red {
  color: #fff;
}

.txt-DSAblack {
  color: #231F20;
}

.txt-dsa-white, .txt-white {
  color: white;
}

a.txt-DSAwhite:hover {
background-color: #231F20;
color: white;
}


/***************
7. BUTTONS
****************/

.button-icon {
	background-color: #fff;
    color: #ec1f27;
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    font-size: 8rem;
    vertical-align: middle;
    display: inline-flex;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-transition: .3s;
    transition: .3s;
}

.button-icon-small {
	background-color: #fff;
    color: #ec1f27;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0.25rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.5rem;
    vertical-align: middle;
    display: inline-flex;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-transition: .3s;
    transition: .3s;
}

.button-icon:focus, .button-icon:hover, .button-icon-small:focus, .button-icon-small:hover {
	background-color: #fff;
	box-shadow: 0 5px 8px rgba(0,0,0,.25);
    background-size: 400%;
    border: 1px solid rgba(0,0,0,.1);
    text-decoration: none;
}

button, .button, input[type="button"], .pagination .button, .tribe-events-notices, .excerpt-read-more {
  background: #EC1F27;
    background: -webkit-linear-gradient(left,#EC1F27 0%,#FF1744 100%);
    background: linear-gradient(to right,#EC1F27 0%,#FF1744 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EC1F27',endColorstr='#FF1744',GradientType=1);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 150ms;
  font-weight: bold;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(0,0,0,0.54);
  -webkit-transition: all 300ms;
    transition: all 300ms;
    font-size: 1rem;
}

.footer .button {
  background: #EC1F27;
  box-shadow: none;
}

.tribe-events-notices {
  text-shadow: 0px 2px 4px rgba(0,0,0,.25);
  border: 1px solid #ec1f27;
}

a.button.radius.button-white {
  border: none;
  color: black;
}

#tribe-bar-views-toggle {
  box-shadow: none;
}

a.button.hollow, a.tribe-events-button, a.tribe-events-gmap, button.hollow, .button.hollow, #tribe-bar-form .tribe-bar-submit input[type=submit], input[type="button"], .pagination .button.hollow, #tribe-events a.tribe-events-button, a.tribe-events-button {
  border: 2px solid #ec1f27;
  color: #ec1f27;
  padding: 0.5rem 1rem;
  font-weight: 700;
  background: #fff;
  background: -webkit-linear-gradient(left,#FFFFFF 0%,#FFFFFF 100%);
    background: linear-gradient(to right,#FFFFFF 0%,#FFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#FFFFFF',GradientType=1);
}

a.button.radius.button-white:hover {
  border: none;
  background-color: #ec1f27;

  color: white;
}

.button-group.expanded .button {
  padding: 0.85em 0.5em;
}

button.hollow:hover, a.tribe-events-button:hover, a.tribe-events-gmap:hover, #tribe-bar-form .tribe-bar-submit input[type=submit]:hover, #tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .button.hollow:hover, .excerpt-read-more:hover, .button:focus, .button:hover, input[type="button"]:hover, .pagination .button:hover {
  box-shadow: 0 5px 8px rgba(244,67,54,0.25);
    background: #FF1744;
    color: #fff;
    background: -webkit-linear-gradient(left,#FF1744 0%,#ff3764 100%);
    background: linear-gradient(to right,#FF1744 0%,#ff3764 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1744',endColorstr='#ff3764',GradientType=1);
    background-size: 400%;
    -webkit-animation: Gradient 1s ease infinite;
    animation: Gradient 1s ease infinite;
    border-color: #ec1f27;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

.card .excerpt-read-more {
 float: right;
}

.tribe-event-description a.excerpt-read-more {

}

.homepage-icon {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
  -webkit-transition: all 300ms;
    transition: all 300ms;
    display:block;
}

.homepage-icon:hover {
  box-shadow: 0 5px 8px rgba(0,0,0,0.25);
  background-size: 400%;
  border: 1px solid rgba(0,0,0,0.1);
}

.pagination .current {
  padding: .1875rem .625rem;
  background-color: #ec1f27;
}

.pagination .button a, .pagination .button a:hover {
  background-color: transparent;
  color: #fff;
}


button.dark, .button.dark, #page #mc_embed_signup .button.dark, .pagination .button.current, #mc_embed_signup .button {
  background: #231F20; 
  background: -webkit-linear-gradient(left,#231F20 0%,#353035 100%);
  background: linear-gradient(to right,#231F20 0%,#353035 100%);
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  transition: all 150ms;
  box-shadow: 0 0 1px rgba(0,0,0,0.54);
}

.button.dark:focus, .button.dark:hover, input[type="button"]:hover, #mc_embed_signup .button:hover, #mc_embed_signup .button:focus {
      background: #353035;
  background: -webkit-linear-gradient(left,#353035 0%,#B0BEC5 100%);
  background: linear-gradient(to right,#353035 0%,#B0BEC5 100%);
  color: #FFF;
  border: none;
  box-shadow: 0 5px 8px rgba(0,0,0,0.25);
  background-size: 400%;
    -webkit-animation: Gradient 1s ease infinite;
    animation: Gradient 1s ease infinite;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}


.button.success {
  border-color: #3adb76;
}

.button.alert {
  border-color: #cc4b37;
}

.button.warning {
  border-color: #ffae00;
}

/*********************
8. POSTS & CONTENT STYLES
*********************/
#content #inner-content {
  padding: 1rem 0rem;
}

#content .entry-content figure {
  margin: 2rem 0;
}

.entry-content p, .entry-content li {
  color: #333;
  font-size: 1.25rem;
  line-height: 1.58;
}

.blog-post h1 {
  margin: 10rem 0 5rem;
}

#content #inner-content .post p.byline {
  color:  rgba (0,0,0,0.6);
}

#content #inner-content .category-minutes h2 {
  border-top: 0.5rem solid;
    text-transform: uppercase;
    padding: 0;
    margin: 4rem 0 0.5rem 0;
}

.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

 .post .entry-content a {
  text-decoration: underline;
 }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.single .post .entry-content img.wp-post-image, .single .event-thumbnail-image .tribe-events-event-image img {
  border-radius: 2rem 2rem 0rem 0rem;

}
.single .event-thumbnail-image .tribe-events-event-image {
margin-bottom: 0px; 
}

.single .tribe-events-schedule .recurringinfo {
  float: right;
  background-color: #edeeef;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
}

.single .post .entry-content .post-thumbnail-caption, .single .event-thumbnail-image .event-thumbnail-caption {
    padding: 1rem 1.5rem 1rem;
    background-color: #EDEEEF;
    border-radius: 0rem 0rem 2rem 2rem;
}

.single .tribe-events-schedule .recurringinfo .tribe-events-divider {
  color: #edeeef;
}

.single-tribe_events .tribe-events-cal-links {
  clear: initial;
}

.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 1.5rem;
}

.tribe-events-gmap {
  background-color: #ec1f27;
  color: #fff;
  border-radius: 2em;
  font-size: 1rem;
  transition: all 150ms;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  line-height: 1;
  display: inline-block;
}

.wp-caption {
    max-width: 80%;
    background: #eee;
    margin-left: 10%;
    padding: 10px 25px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }


/*********************
9. 2018 POST FORMAT TESTING
*********************/

.post-template-single2018-php #content #inner-content header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #efefef;
  margin-bottom: 2rem;
}

.post-template-single2018-php #content #inner-content main#main {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 2rem;
}

.post-template-single2018-php #content #inner-content div#sidebar1 {
  margin-top: 4rem;
}


.post-password-form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  background: #2199e8;
  color: #fff; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background: #1583cc;
    color: #fff; }

/*********************
10. IMAGE GALLERY STYLES
*********************/
.gallery-columns-2 .gallery-item {
    width: 45%;
    padding: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
    vertical-align: top;
    background-color: #f7f7f7;
    border: 1px solid #d7d7d7;
}

.gallery-columns-3 .gallery-item {
    width: 27.5%;
    padding: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
    vertical-align: top;
    background-color: #f7f7f7;
    border: 1px solid #d7d7d7;
}

/*********************
11. PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
12. COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
13. COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
14. SIDEBARS & ASIDES
*********************/
.widget ul {
  margin: 0; }
  .widget ul li {
    list-style: none; }

@media print, screen and (min-width: 40em) {
  .single #inner-content .sidebar {
    margin-top: 24rem;
  }
}

/*********************
15. FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 0em;
  padding-top:1em;
background-color: #ec1f27;
color: #fff;
}

.footer a {
color: #fff;
}

.footer a:hover {
background-color: #000;
color: #fff;
}

.footer h4 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0.25em 1em;
    font-weight: 400;
}

#dsa-footer .sidebar .widget {
  text-align: center;
}

#dsa-footer .sidebar .widget div {
  text-align: left;
}


/*********************
16. FORM STYLES
*********************/
[type=phone]
{ display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #0a0a0a;
    -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#page #mc_embed_signup .button {
  background-color: #231F20 !important;
  color: #fff;
  border-radius: 2em;
  transition: all 150ms;
}

#page #mc_embed_signup .button.dark:hover {
  background-color: #231F20;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

input[type="submit"] {
  background-color: #EC1F27;
  padding: 1rem;
  color: white;
  border: 0px;
}

input[type="submit"]:hover {
  background-color: black;
}

/*********************
17. TABLES
*********************/
table tbody tr:nth-child(even) {
background-color: #ebeef3;
}

table.sdsa-platform-table tbody tr:nth-child(even) {
  background-color: transparent;
}

table.sdsa-platform-table tr td figure img {
  width: 6rem !important;
  height: auto;
  margin: 0;
  padding: 0;
  display: inline-block;
}

table.sdsa-platform-table tr td:nth-child(1) {
  width: 6rem;
  vertical-align: text-top;
}

/*********************
18. PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/*********************
19. TABS
*********************/

.tabs {
  background-color: #ec1f27;
  border-bottom: 0;
}

.tabs-title>a {
  color: white;
  font-size: 1rem;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
  color: black;
  background: white;
  box-shadow: 2px -2px 4px rgba(0,0,0,0.2);
}

.tabs-title>a:hover {
  color: white;
  background: black;
}

.tabs-panel {
  box-shadow: 2px -2px 4px rgba(0,0,0,0.2);
}

/*********************
20. Accordion
*********************/
.accordion-title {
    font-size: 1.5rem;
    line-height: 4rem;
    color: #ec1f27;
    border-top: 0.15rem solid #0a0a0a;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    transition: background .35s ease-in-out;
    padding: 0.5rem 1rem;
}

.accordion-title:hover, .accordion-title:active, .accordion-title:focus {
  color: #fff;
  background-color: #0a0a0a;
}

.accordion-title:before {
  font-size: 1.5rem;
  line-height: 4rem;
  margin-top: 0;
  top: inherit;
}

:last-child:not(.is-active)>.accordion-title, :last-child>.accordion-content:last-child {
  border-bottom: 0.1rem solid #0a0a0a;
}

.accordion-title img {
  height: 4rem;
  width: auto;
  margin-right: 0.5rem;
}

.accordion-content {
  border-top: 0.15rem solid #0a0a0a;
  border-left: 0.15rem solid #0a0a0a;
    border-right: 0.15rem solid #0a0a0a;
    border-bottom: 0px solid transparent;
}

.accordion-content ol {
  padding-left: 2.5rem;
  border-left: 0.1rem solid #0a0a0a;
}

.accordion-content ol li {
  padding-left: 0.75rem;
}

/*********************
21b. EVA G. 2017 Theme w/ CODING FROM JON W.
*********************/

.dsa-space {
   min-height: 18vh;
}

.dsa-space-2 {
   min-height: 25vh;
}

.dsa-alert.card.card {
  background-color: #0a0a0a;
  color: #fff;
}

.dsa-alert.callout p {
  margin-bottom: 0;
  display: inline;
}

.diptych form input#mce-LNAME, .diptych form input#mce-FNAME, .diptych form input#mce-EMAIL {
  border-radius: 2rem;
    border: 0.25rem solid #fafafa;
    box-shadow: inset 0 0 4px 0px #ddd;
    padding: 1.25rem 1rem;
}

.diptych #mc_embed_signup div.mce_inline_error {
  background-color: #ef1c27;
}

.diptych #mc_embed_signup input.mce_inline_error {
  border-color: #ef1c27;
}


.inline-icon {
  width: 3em;
  height: auto;
}

input::placeholder, textarea::placeholder, input#mce-FNAME::placeholder, input#mce-LNAME::placeholder, input#mce-EMAIL::placeholder {
  color: #aaa;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input#mce-FNAME::-webkit-input-placeholder, input#mce-LNAME::-webkit-input-placeholder, input#mce-EMAIL::-webkit-input-placeholder {
  color: #aaa;
}

input::-moz-placeholder, textarea::-moz-placeholder, input#mce-FNAME::-moz-placeholder, input#mce-LNAME::-moz-placeholder, input#mce-EMAIL::-moz-placeholder {
  color: #aaa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder, input#mce-FNAME:-ms-input-placeholder, input#mce-LNAME:-ms-input-placeholder, input#mce-EMAIL:-ms-input-placeholder {
  color: #aaa;
}

button.dsa-close {
  background-color: transparent;
  color: white;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0.25rem;
  margin-left:1rem;
  padding: 0;
}

.dsa-alert-icon {
  margin-right:1rem;
  width: 2.5rem;
  height: auto;
}

.button-group .button {
margin-right: 1em;
}
.dsa-national-logomark {
  float: left;
  margin: 0 1rem 0 0;
}

h1.dsa-national-logotype {
  border-bottom: 0.25rem solid white;
  display:inline-block;
  font-size: 4rem;
  padding-bottom: 1.25rem;
  line-height: 0.75;
}

h2.dsa-local-brand {
  font-size: 2rem;
}

/** begin jon white conversion **/
#dsa-home-row-1 {
  padding: 50px 0 0;
}

.sdsa-2017-global-footer section:nth-of-type(1),
.sdsa-2017-global-footer section:nth-of-type(2) {
    margin-right: 5%
}
#content #dsa-home-row-1 {
    padding-bottom: 50px
}

#content #dsa-home-row-1 {
    min-height: 705px;
    position: relative
}

.row.dsa-home-row-3-edit {
    padding: 50px 0;
}

.row.dsa-home-row-4-edit {
    padding: 50px 0;
}

h1.home-title {
  font-size: 2rem;
}

/* from Jon W. */

.padding-bottom {
  padding-bottom: 3rem;
}

.padding-top, .footer.padding-top {
  padding-top: 3rem;
}

.sdsa-2017-frontispiece {
    padding-bottom: 50px;
}
.sdsa-2017-frontispiece .essay {
    border-radius: 0rem 0rem 2rem 2rem;
    box-shadow: 0 0 4px 4px inset rgba(0,0,0,0.15);
}


.sdsa-2017-frontispiece .essay {
    background: url("../images/ui-foregrounds/mobile-mural.png") no-repeat left top;
    background-size: 100% auto
}

@media screen and (min-width: 900px) {
    .sdsa-2017-frontispiece .essay {
        background: url("../images/ui-glyphs/frontispiece-scenery-wave.svg") repeat-x left 350px, url("../images/ui-glyphs/frontispiece-scenery-elevation-trees.svg") no-repeat -300px 200px, url("../images/ui-glyphs/frontispiece-scenery-elevation-needle.svg") no-repeat 15% 50px, url("../images/ui-glyphs/frontispiece-scenery-elevation-rainier.svg") no-repeat 45% 200px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud1.svg") no-repeat 42% 235px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud1.svg") no-repeat 87% 54px, #ddd left top;
        background-size: 400px 300px, 600px 400px, 140px 600px, 800px 400px, 126px 66px, 148px 64px, 100% 651px;
    }
}

.sdsa-2017-frontispiece .card, .card {
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 2rem;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.15);
  border: none;
  background-color: #fff;
}

.card p {
  text-align: left;
}

.sdsa-2017-frontispiece .plate h1 {
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

.sdsa-2017-frontispiece .diptych .beliefs-cycle {
  color: white;
  -ms-flex-order: 2;
  order: 2;
  text-align: center;
}

.sdsa-2017-frontispiece .diptych .beliefs-cycle .contents {
    margin: 0 20px
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle h1 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs-carousel {
    position: relative;
}

.sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs {
    position: relative;
    z-index: 1;
    min-height: 75px;
    padding: 3rem 1rem;
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs li {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    line-height: 1.35;
    box-sizing: border-box;
    padding: 1rem;
    opacity: 0;
    transition: all 400ms;
    font-weight: 400;
    list-style:none;
}

.text-center {
  text-align:center;
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs li.active {
    opacity: 1
}
@media screen and (max-width: 370px) {
    .sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs li {
        font-size: 1.125rem
    }
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .control {
    position: absolute;
    background: transparent;
    width: 2rem;
    height: 3rem;
    top: 50%;
    border: none;
    cursor: pointer;
    transition: all 200ms;
    transform: translateY(-50%) scale(1);
    z-index: 2;
    box-shadow: none;
    font-weight: 400;
    font-size:1.75rem;
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .control.prev {
    left: -10px;
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .control.next {
    right: -10px;
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .control:hover {
    transform: translateY(-50%) scale(1.2)
}

h1 small, h2 small, h3 small, h4 small, h5 small {
  text-transform: uppercase;
  font-size: 0.5em;
  display:block;
  margin: 0.5em 0 1em 0;
}


/*********************
22. CALENDAR via THEEVENTSCALENDAR PLUGIN
*********************/

table.tribe-events-calendar tbody tr:nth-child(even) {
  background-color: #fefefe;
}

.tribe-events-calendar div[id*=tribe-events-daynum-], .tribe-events-calendar div[id*=tribe-events-daynum-] a {
  font-size: 1.35rem;
    color: #333;
    text-align: right;
    background: transparent;
}

.events-archive.events-gridview #tribe-events-content table .type-tribe_events {
  border-bottom: 1px solid #e5e5e5;
    margin: 0 0.25rem;
    padding: 0.25rem 0;
}

.events-archive.events-gridview #tribe-events-content table .type-tribe_events:last-child {
  border-bottom: 0px solid transparent;
}

.events-archive.events-gridview #tribe-events-content table .type-tribe_events a.url {
  display: block;
  width: 100%;
}

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
  font-size: 0.9rem;
}

@media print, screen and (min-width: 40em) {
  .tribe-events-tooltip h3 {
    font-size: 1rem;
    padding: 0 0.25rem;
    font-weight: 700;
  }
}

.tribe-events-tooltip .tribe-events-event-body {
  font-size: 0.8rem;
}

#tribe-events-pg-template, .tribe-events-pg-template {
  margin: 4rem auto;
}

/******************************************************************
23. fullPage.js Plugin Changes
******************************************************************/
.fullpage-wrapper .mcw-fp-section p, .fullpage-wrapper .mcw-fp-section li {
  font-size: 1.2rem;
  font-weight: 400;
  font-weight: normal;
}

.fullpage-wrapper .mcw-fp-section .wp-block-image figcaption {
  font-size: 0.9rem;
  font-weight: 400;
}

/******************************************************************
24. PRINT STYLESHEET
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; }
  a.tribe-events-gmap, hr, .tribe-events-single-section.tribe-events-event-meta a:after, .tribe-events-meta-group .tribe-events-event-categories-label, .tribe-events-meta-group .tribe-events-event-categories, .tribe-events-start-date-label, .tribe-events-start-time-label, .tribe-country-name, .tribe-region.tribe-events-abbr:after, .tribe-events-before-html, .tribe-events-abbr.tribe-events-start-date:after {
    display: none;
  }
  .tribe-events-meta-group.tribe-events-meta-group-details, .tribe-events-meta-group.tribe-events-meta-group-venue {
    width: 50%;
    margin: 0;
    padding: 1rem;
  }
  .tribe-events-meta-group .tribe-events-single-section-title {
    font-size: 1.25rem;
    color: #ec1f27;
  }
  .tribe-events-single-event-description.tribe-events-content {
    word-wrap: break-word;
  }
  .tribe-events-meta-group.tribe-events-meta-group-gmap, .tribe-events-venue-map, .single-tribe_events .tribe-events-event-meta, .tribe-events-meta-group .tribe-events-single-section-title, #tribe-events-content, .footer.padding-top, .padding-top {
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 12pt;
  }
  h1 {
    font-size: 18pt;
  }
  h2 {
    font-size: 16pt;
  }
  h3 {
    font-size: 14pt;
  }
    .wp-block-columns {
    display: flex;
    margin-top: 0rem;
    margin-bottom: 3rem;
  }
  #wpadminbar {
    display: none;
  }
  a[href]:after {
    content: none !important;
  }
  .wp-block-columns {
    display: block;
  }

  .wp-block-column {
    display: block;
  }
  .wp-block-spacer {
    display: none;
  }
}
/******************************************************************
25. Table of Contents
******************************************************************/


.js-toc {
  padding-top: 3rem;
}

.js-toc ol {
  list-style-type: none;
  
}

.js-toc > ol > li > ol {
  border-left: 1px solid rgba(60, 65, 86, 0.1);
}


.js-toc-content h1::before, .js-toc-content h2::before, .js-toc-content h3::before, .js-toc-content h4::before, .js-toc-content h5::before, .js-toc-content h6::before {
    display: block;
    content: " ";
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}

.js-toc a.toc-link {
  height: 2rem;
}

.js-toc .toc-link::before {
  background-color: transparent;
}

.js-toc .toc-link.is-active-link::before {
  background-color: #ec1f27;
}