@charset "UTF-8";
/********* Web Fonts *******/

  
@font-face {font-family: 'ManifoldDSA-ExtraBold';src: url('webfonts/ManifoldDSA-ExtraBold.eot');src: url('webfonts/ManifoldDSA-ExtraBold.eot?#iefix') format('embedded-opentype'),url('webfonts/ManifoldDSA-ExtraBold.woff2') format('woff2'),url('webfonts/ManifoldDSA-ExtraBold.woff') format('woff'),url('webfonts/ManifoldDSA-ExtraBold.ttf') format('truetype');}
 
@font-face {font-family: 'ManifoldDSA-Medium';src: url('webfonts/ManifoldDSA-Medium.eot');src: url('webfonts/ManifoldDSA-Medium.eot?#iefix') format('embedded-opentype'),url('webfonts/ManifoldDSA-Medium.woff2') format('woff2'),url('webfonts/ManifoldDSA-Medium.woff') format('woff'),url('webfonts/ManifoldDSA-Medium.ttf') format('truetype');}

@font-face {font-family: 'ManifoldDSA-Light';src: url('webfonts/ManifoldDSA-Light.eot');src: url('webfonts/ManifoldDSA-Light.eot?#iefix') format('embedded-opentype'),url('webfonts/ManifoldDSA-Light.woff2') format('woff2'),url('webfonts/ManifoldDSA-Light.woff') format('woff'),url('webfonts/ManifoldDSA-Light.ttf') format('truetype');}


/************************************************

Stylesheet: Main Stylesheet

*************************************************/


/*
Overrides
*/
/*
You can add your own CSS here.

Click the help icon above to learn more.
*/
/* Gallery Changes*/
.gallery-columns-2 .gallery-item {
    width: 45%;
    padding: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
    vertical-align: top;
    background-color: #f7f7f7;
    border: 1px solid #d7d7d7;
}

.gallery-columns-3 .gallery-item {
    width: 27.5%;
    padding: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
    vertical-align: top;
    background-color: #f7f7f7;
    border: 1px solid #d7d7d7;
}

.top-bar, .top-bar ul, .off-canvas { background-color: #ec1f27;
}

.top-bar a, .top-bar ul a {
color: white;
}

.top-bar-right a, .off-canvas .menu>li>a {
text-transform: capitalize;
font-size: 1.25rem;
color: white;
}

.menu .active>a {
background-color: #231F20;
border-radius: 2em;
}

.dropdown.menu.vertical>li.opens-left>a:after, .is-accordion-submenu-parent>a:after {
border-color: white transparent transparent !important;
}

.page-title {
color: #231F20;
margin: 4rem 0 3rem 0;
}

a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #ec1f27;
}

.bg-DSAred, .orbit-bullets button {
  background-color: #ec1f27;
}

.bg-DSAblack {
  background-color: #231F20;
}

.bg-DSAwhite, .orbit-bullets button.is-active, .orbit-bullets button:hover {
	background-color: #ffffff;
}

.txt-DSAred {
  color: #ec1f27;
}

.bg-DSAglass {
  background: rgba(255,255,255,0.85);
}

button.orbit-next, button.orbit-previous {
	background-color: rgba(255,255,255,0.25);
	color: rgba(255,255,255,0.75);
  	border: 0px transparent;
}

button.orbit-next:hover, button.orbit-previous:hover {
  	font-size:1.2em;
}

.btn.bg-DSAred {
  color: #fff;
}

.btn.bg-DSAred:hover {
  color:  #ec1f27;
  background-color: #fff;
}

.btn.bg-DSAblack {
  background-color: #231F20;
  color: #fff;
}

.btn.bg-DSAblack:hover {
  color:  #231F20;
  background-color: #fff;
}


.orbit-previous {
  border-radius: 0 50% 50% 0;
}

.orbit-next {
    border-radius: 50% 0 0 50%;
}

.txt-DSAblack {
  color: #231F20;
}

.txt-DSAwhite, .txt-white {
  color: white;
}

a.txt-DSAwhite:hover {
background-color: #231F20;
color: white;
}

#dsa-fullheight, #dsa-fullscreen {
  min-height: 100vh;
  padding-top: 25vh;
}

.dsa-right-fullheight, .dsa-left-fullheight {
  margin-bottom: 2rem;
}

.dsa-slide {
	min-height: 75vh;
	background-color: #ec1f27;
	color: white;
}

.dsa-slide .row {
    padding: 5rem 0 1rem;
}

.dsa-slide a {
  color: white;
}

.dsa-slide a.button {
  text-decoration: none;
  color: #ec1f27;
  border-radius: 2em;
}

.dsa-slide a.button:hover {
  text-decoration: none;
  color: #ec1f27;
  background: #231F20;
  border-radius: 2em;
}

.top-bar a:hover {
  background: #231F20;
  border-radius: 2em;
}

.top-bar img.dsa-rose-mark {
  height: auto;
  width: 48px;
  display: inline;
  padding: 0;
  margin-top: -8px;
}

.menu>li>a.dsa-top-name{
  display:inline-block;
  padding: 0.5rem 0 0 0;
  font-size: 1.25rem;
}

.menu>li>a {
  padding: 0.5rem 1rem;
  line-height: 2;
}

.menu.vertical>li {
  padding-top: 0;
}

@media screen and (max-width: 40rem) {
  .top-bar-left .menu li {
      text-align: center;
  }
  .top-bar img.dsa-rose-mark, .menu>li>a.dsa-top-name {
    padding: 0;
  }
  .dsa-slide .row {
    padding: 2rem 0 1rem;
  }

  .top-bar img.dsa-rose-mark {
    margin-top: 0px;
  }
}


@media screen and (max-width: 65rem) {
  .menu>li>a.dsa-top-name {
    font-size: 1rem;
  }
}


.txt-center {
  text-align: center;
}

.dsa-slide .row.dsa-continue {
  padding-top: 2rem;
}

.dsa-slide p {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.page blockquote {
font-size: 1.5rem;
color: #231F20;
border-left: 0px solid #ec1f27;
padding: 25px 0 25px 0;
}

.page blockquote p {
font-size: 1.5rem;
color: #231F20;
padding: 0;
}

img.bullet-icon {
    height: 2em;
    width: 2em;
    margin-right: 1em;
    float: left;
    margin-top: 0.5em;
}

.dsa-column-left-wrapper h3, .dsa-column-right-wrapper h3, .dsa-column-left-wrapper h4, .dsa-column-right-wrapper h4 {
  margin-top: 1em;
}


.page blockquote:before {
        content: '';
        width: 50%;
top: 25px;
border-top: 8px solid #231F20;
    }


.page blockquote:after {
        content: '';
        width: 50%;
        bottom: 25px;
        border-bottom: 8px solid #231F20;
}

button, .button, input[type="button"], .pagination .button {
	background-color: #ec1f27;
	color: #fff;
  border-radius: 2em;
  transition: all 150ms;
  text-transform: uppercase;
  font-family: ManifoldDSA-ExtraBold, Helvetica, Tahoma, Sans-Serif;
}

.pagination .button.current {
	padding: .1875rem .625rem
}

.pagination .button a, .pagination .button a:hover {
	background-color: transparent;
	color: #fff;
}

.button:focus, .button:hover, input[type="button"]:hover, .pagination .button:hover {
	background-color: #f04e54;
	color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	transform: translateY(-2px);
}

button.dark, .button.dark, #page #mc_embed_signup .button.dark, .pagination .button.current {
  background-color: #231F20;
  color: #fff;
  border-radius: 2em;
  transition: all 150ms;
}

.button.dark:focus, .button.dark:hover, input[type="button"]:hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

#page #mc_embed_signup .button {
  background-color: #231F20 !important;
  color: #fff;
  border-radius: 2em;
  transition: all 150ms;
  text-transform: uppercase;
  font-family: ManifoldDSA-ExtraBold, Helvetica, Tahoma, Sans-Serif;
}

#page #mc_embed_signup .button.dark:hover {
  background-color: #231F20;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}


.button.success {
  border-color: #3adb76;
}

.button.alert {
  border-color: #cc4b37;
}

.button.warning {
  border-color: #ffae00;
}

.archive.category .post .entry-content p, .archive.category .post .entry-content h1, .archive.category .post .entry-content h2, .archive.category .post .entry-content h3, .archive.category .post .entry-content h4, .archive.category .post .entry-content h5  {
 	margin-bottom: 1rem;
    font-size: 100%;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    font-family: ManifoldDSA-Medium, Helvetica, Tahoma, Sans-Serif
}

.archive-header-card {
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
  background-color: white;
  padding: 2rem;
}

.archive-card.bdr-stripe-red {
  padding: 24px 24px 12px 24px;
  background-color: white;
  margin-bottom: 2rem;
}

.archive-card .row.archive-item-image {
  margin: 0 -13px 1rem -13px;
}

.archive #content {
  background-color: #ddd;
}

.archive #content #inner-content {
  padding: 0rem 0rem 1rem 0rem;
}

.archive-item-image a {
  display: block;
  min-height: 12rem;
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.makegoogleresponsive {
 
position: relative; height: 0;
 
}

.makegoogleresponsive iframe {
 
position: absolute; top:0; left: 0; width: 100%; min-height: 300px;
 
}

@media (max-width: 767px) {
    .makegoogleresponsive iframe {
        max-width: calc(100vw + 40px) !important;   
        margin: -11px -25px;
    min-height: 300px; padding-bottom: 300px;}
    .makegoogleresponsive { 
        width:100vw !important; 
        overflow: hidden !important; 
        margin: 0 -15px !important;
        min-height: 350px;
    }  
}

.home .page-title {
	display:none;
}

.dsa-main {
	padding-bottom: 2rem;
}

.mauticform-label {
    font-size: 1rem;
}

#mauticform_input_contactus_submit {
  margin-left: 15px;
}

.icon-bullet {
    height: 2em;
    width: 2em;
    margin-right: 1em;
    float: left;
    margin-top: 0.5em;
}

.dsa-slide.dsa-slide-1, .bg-dark-1 {
  background: url(../images/bg-dark-1.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#020205;
}

.dsa-slide.dsa-slide-2, .bg-dark-2 {
	background: url(../images/bg-dark-2.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#020205;
}

.dsa-slide.dsa-slide-3, .bg-dark-3  {
	background: url(../images/bg-dark-4.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#020205;
} 

.dsa-main-logo {
  float: left;
  margin: 1rem 1rem 0 0;
}

.dsa-main-name, .dsa-slide h1, .dsa-slide h2  {
  font-family: ManifoldDSA-Medium, Helvetica, Tahoma, Sans-Serif;
  color: white;
}

.dsa-main-name {
	line-height:1.2em;
}

/**
*  Tabs 
**/

.tabs {
	background-color: #ec1f27;
	border-bottom: 0;
}

.tabs-title>a {
	color: white;
	font-size: 1rem;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
	color: black;
	background: white;
	box-shadow: 2px -2px 4px rgba(0,0,0,0.2);
}

.tabs-title>a:hover {
	color: white;
	background: black;
}

.tabs-panel {
	box-shadow: 2px -2px 4px rgba(0,0,0,0.2);
}

/*********
*
* Eva 2017 Theme
*
**********/

.dsa-space {
   min-height: 18vh;
}

.dsa-space-2 {
   min-height: 25vh;
}

.dsa-alert.callout {
  background-color: #0a0a0a;
  color: white;
}

.dsa-alert.callout p {
  margin-bottom: 0;
  display: inline;
}

input::placeholder, textarea::placeholder, input#mce-FNAME::placeholder, input#mce-LNAME::placeholder, input#mce-EMAIL::placeholder {
	color: #aaa;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input#mce-FNAME::-webkit-input-placeholder, input#mce-LNAME::-webkit-input-placeholder, input#mce-EMAIL::-webkit-input-placeholder {
	color: #aaa;
}

input::-moz-placeholder, textarea::-moz-placeholder, input#mce-FNAME::-moz-placeholder, input#mce-LNAME::-moz-placeholder, input#mce-EMAIL::-moz-placeholder {
	color: #aaa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder, input#mce-FNAME:-ms-input-placeholder, input#mce-LNAME:-ms-input-placeholder, input#mce-EMAIL:-ms-input-placeholder {
	color: #aaa;
}

button.dsa-close {
  background-color: transparent;
  color: white;
  font-family: ManifoldDSA-Medium, Helvetica, Tahoma, Sans-Serif;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0.25rem;
  margin-left:1rem;
}

.dsa-alert-icon {
  margin-right:1rem;
  width: 2.5rem;
  height: auto;
}

.button-group .button {
margin-right: 1em;
}
.dsa-national-logomark {
  float: left;
  margin: 0 1rem 0 0;
}

h1.dsa-national-logotype {
  font-family: ManifoldDSA-ExtraBold, Helvetica, Tahoma, Sans-Serif;
  border-bottom: 0.25rem solid white;
  display:inline-block;
  font-size: 4rem;
  padding-bottom: 1.25rem;
  line-height: 0.75;
}

h2.dsa-local-brand {
  font-family: ManifoldDSA-Medium, Helvetica, Tahoma, Sans-Serif;
  font-size: 2rem;
}

.card-gray, #content #inner-content.card-gray {
  background-color: #F7F7F7;
  padding: 2rem 4rem;
}

.card-red {
  background-color: #ec1f27;
  padding: 2rem 4rem;
}

.bdr-stripe-black {
	  border-bottom: 16px solid transparent;
  padding: 12px;
  -webkit-border-image: url(../images/stripe-black-on-white.png) 36 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../images/stripe-black-on-white.png) 36 repeat; /* Opera 11-12.1 */
  border-image: url(../images/stripe-black-on-white.png) 36 repeat;
}

.bdr-stripe-red {
	border-bottom: 16px solid transparent;
  padding: 12px;
  -webkit-border-image: url(../images/stripe-red-on-white.png) 36 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../images/stripe-red-on-white.png) 36 repeat; /* Opera 11-12.1 */
  border-image: url(../images/stripe-red-on-white.png) 36 repeat;
}

.bdr-stripe-gold {
	  border-bottom: 16px solid transparent;
  padding: 12px;
  -webkit-border-image: url(../images/stripe-gold-on-white.png) 18 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../images/stripe-gold-on-white.png) 18 repeat; /* Opera 11-12.1 */
  border-image: url(../images/stripe-gold-on-white.png) 18 repeat;
}

.bdr-stripe-gray {
	  border-bottom: 16px solid transparent;
  padding: 12px;
  -webkit-border-image: url(../images/stripes-gray.png) 18 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../images/stripes-gray.png) 18 repeat; /* Opera 11-12.1 */
  border-image: url(../images/stripes-gray.png) 18 repeat;
}

.bdr-stripe-white {
  border-bottom: 16px solid transparent;
  padding: 12px;
  -webkit-border-image: url(../images/stripes-white.png) 18 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../images/stripes-white.png) 18 repeat; /* Opera 11-12.1 */
  border-image: url(../images/stripes-white.png) 18 repeat;
}

.bdr-stripe-red-left {
   border-left: 18px solid transparent;
  padding: 12px;
  -webkit-border-image: url(../images/stripe-black-on-red.png) 16 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../images/stripe-black-on-red.png) 16 repeat; /* Opera 11-12.1 */
  border-image: url(../images/stripe-black-on-red.png) 16 repeat; 
}

.bdr-stripe-red-white-left {
   border-left: 18px solid transparent;
  padding: 12px;
  -webkit-border-image: url(../images/stripe-red-on-white-2.png) 32 repeat; /* Safari 3.1-5 */
  -o-border-image: url(../images/stripe-red-on-white-2.png) 32 repeat; /* Opera 11-12.1 */
  border-image: url(../images/stripe-red-on-white-2.png) 32 repeat; 
}

/** begin jon white conversion **/
#dsa-home-row-1 {
  padding: 50px 0 0;
}

.sdsa-2017-global-footer section:nth-of-type(1),
.sdsa-2017-global-footer section:nth-of-type(2) {
    margin-right: 5%
}
#content #dsa-home-row-1 {
    padding-bottom: 50px
}

#content #dsa-home-row-1 {
    min-height: 705px;
    position: relative
}

.row.dsa-home-row-3-edit {
    padding: 50px 0;
}

.row.dsa-home-row-4-edit {
    padding: 50px 0;
}

h1.home-title {
  font-size: 2rem;
  font-family: ManifoldDSA-Medium, HelveticaNeue, Roboto, Arial, Sans-Serif;
}

/* from jonwhite */
.bound {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto
}

@media screen and (min-width: 1141px) and (max-width: 1330px) {
    .sdsa-2017-global-header .branding .logo {
        max-width: 400px
    }
}
.sdsa-2017-global-header .branding a {
    background: url("/images/ui-glyphs/sdsa-logo.png") no-repeat center center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap
}
.sdsa-2017-global-header .atlas li {
    display: inline-block;
    float: left;
    color: white;
    font-weight: 900
}
.sdsa-2017-global-header .atlas a {
    padding: 4px 19px 3px;
    background: transparent;
    border-radius: 20px;
    transition: all 200ms;
    box-shadow: none;
    position: relative;
    z-index: 2
}
@media screen and (min-width: 1141px) and (max-width: 1330px) {
    .sdsa-2017-global-header .atlas a {
        padding: 4px 13px 3px
    }
}
.sdsa-2017-global-header .atlas a:not(.selected):hover {
    background: #b91016;
    box-shadow: 0 0 0 3px #b91016;
    transform: translateY(-2px)
}
.sdsa-2017-global-header .atlas a.selected {
    background: black;
    z-index: 1
}
.sdsa-2017-global-header .atlas li:last-of-type a {
    background: #f04e54;
    z-index: 1
}
@media screen and (min-width: 1141px) {
    .sdsa-2017-global-header .branding,     .sdsa-2017-global-header .atlas {
        position: absolute;
        top: 50%
    }
    .sdsa-2017-global-header .branding {
        left: 0;
        width: 100%;
        transform: translateY(-50%)
    }
    .sdsa-2017-global-header .atlas {
        right: -19px;
        transform: translateY(-15%)
    }
}
@media screen and (max-width: 1140px) {
    .sdsa-2017-global-header .inner {
        padding: 30px 0 30px
    }
    .sdsa-2017-global-header .branding .logo {
        margin: 0 auto 25px
    }
    .sdsa-2017-global-header .atlas {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 20px
    }
    .sdsa-2017-global-header .atlas li {
        float: none;
        display: inline-block;
        margin-bottom: 12px
    }
    .sdsa-2017-global-header .atlas a {
        font-size: 0.875rem;
        padding: 4px 12px 3px
    }
}
.sdsa-2017-global-footer {
    padding: 50px 0;
    background: #EC1F27;
    color: white
}
.sdsa-2017-global-footer .triptych {
    outline: 1px solid orange
}
.sdsa-2017-global-footer section {
    width: 30%;
    float: left;
    outline: 2px solid aqua
}
.sdsa-2017-global-footer section:nth-of-type(1), .sdsa-2017-global-footer section:nth-of-type(2) {
    margin-right: 5%
}

.padding-bottom {
	padding-bottom: 3rem;
}

.padding-top, .footer.padding-top {
	padding-top: 3rem;
}

.sdsa-2017-frontispiece {
    padding-bottom: 50px
}
.sdsa-2017-frontispiece .essay {
    position: relative
}
@media screen and (min-width: 1701px) {
    .sdsa-2017-frontispiece .essay {
        background: url("../images/ui-glyphs/frontispiece-scenery-wave.png") repeat-x left 556px, url("../images/ui-glyphs/frontispiece-scenery-elevation-trees.png") no-repeat -240px 443px, url("../images/ui-glyphs/frontispiece-scenery-elevation-needle.png") no-repeat 22% 47px, url("../images/ui-glyphs/frontispiece-scenery-elevation-rainier.png") no-repeat 45% 408px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud1.png") no-repeat 42% 235px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud2.png") no-repeat 87% 54px, url("../images/ui-glyphs/frontispiece-scenery-sky.png") no-repeat left top;
        background-size: 204px 95px, 480px 208px, 152px 604px, 558px 243px, 126px 66px, 148px 64px, 100% 651px
    }
}
@media screen and (min-width: 1351px) and (max-width: 1700px) {
    .sdsa-2017-frontispiece .essay {
        background: url("../images/ui-glyphs/frontispiece-scenery-wave.png") repeat-x left 556px, url("../images/ui-glyphs/frontispiece-scenery-elevation-trees.png") no-repeat -21% 443px, url("../images/ui-glyphs/frontispiece-scenery-elevation-needle.png") no-repeat 22% 47px, url("../images/ui-glyphs/frontispiece-scenery-elevation-rainier.png") no-repeat 45% 408px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud1.png") no-repeat 42% 235px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud2.png") no-repeat 87% 54px, url("../images/ui-glyphs/frontispiece-scenery-sky.png") no-repeat left top;
        background-size: 204px 95px, 480px 208px, 152px 604px, 558px 243px, 126px 66px, 148px 64px, 100% 651px
    }
}
@media screen and (min-width: 1100px) and (max-width: 1390px) {
    .sdsa-2017-frontispiece .essay {
        background: url("../images/ui-glyphs/frontispiece-scenery-wave.png") repeat-x left 556px, url("../images/ui-glyphs/frontispiece-scenery-elevation-trees.png") no-repeat -30% 443px, url("../images/ui-glyphs/frontispiece-scenery-elevation-needle.png") no-repeat 22% 47px, url("../images/ui-glyphs/frontispiece-scenery-elevation-rainier.png") no-repeat 45% 408px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud1.png") no-repeat 42% 235px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud2.png") no-repeat 87% 54px, url("../images/ui-glyphs/frontispiece-scenery-sky.png") no-repeat left top;
        background-size: 204px 95px, 480px 208px, 152px 604px, 558px 243px, 126px 66px, 148px 64px, 100% 651px
    }
}
@media screen and (min-width: 900px) and (max-width: 1099px) {
    .sdsa-2017-frontispiece .essay {
        background: url("../images/ui-glyphs/frontispiece-scenery-wave.png") repeat-x left 556px, url("../images/ui-glyphs/frontispiece-scenery-elevation-trees.png") no-repeat -40% 443px, url("../images/ui-glyphs/frontispiece-scenery-elevation-needle.png") no-repeat 22% 47px, url("../images/ui-glyphs/frontispiece-scenery-elevation-rainier.png") no-repeat 45% 408px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud1.png") no-repeat 42% 235px, url("../images/ui-glyphs/frontispiece-scenery-elevation-cloud2.png") no-repeat 87% 54px, url("../images/ui-glyphs/frontispiece-scenery-sky.png") no-repeat left top;
        background-size: 204px 95px, 480px 208px, 152px 604px, 558px 243px, 126px 66px, 148px 64px, 100% 651px
    }
}
@media screen and (max-width: 899px) {
    .sdsa-2017-frontispiece .essay {
        background: url("../images/ui-foregrounds/mobile-mural.png") no-repeat left top;
        background-size: 100% auto
    }
}
.sdsa-2017-frontispiece .essay .inner {
    padding: 164px 0 0 52.833333333333%
}
@media screen and (max-width: 899px) {
    .sdsa-2017-frontispiece .essay .inner {
        padding:  15% 0 0 0
    }
}
.sdsa-2017-frontispiece .plate {
    background: #f7f7f7;
    padding: 50px 12.190812720848% 0;
    line-height: 1.4
}
@media screen and (max-width: 899px) {
    .sdsa-2017-frontispiece .plate, .dsa-alert {
        box-sizing: border-box;
        max-width: 550px;
        margin: 0 auto
    } 
}
.sdsa-2017-frontispiece .plate h1 {
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.015em;
    margin: 0 -10px 2.5rem 0
}
.sdsa-2017-frontispiece .plate h1 mark {
    font-weight: 700
}
.sdsa-2017-frontispiece .plate p {
    margin-bottom: 1.75em
}
.sdsa-2017-frontispiece .plate p:last-of-type {
    margin-bottom: 0
}
.sdsa-2017-frontispiece .plate .actions {
    padding-top: 40px
}
.sdsa-2017-frontispiece .plate .actions ul {
    text-align: center;
    margin: 0px;
}
.sdsa-2017-frontispiece .plate .actions li {
    display: inline-block
}
.sdsa-2017-frontispiece .plate .actions li {
    margin: 0 6px 10px 0
}
.sdsa-2017-frontispiece .plate .actions a {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 10px 30px 10px;
    background: #EC1F27;
    font: 400 normal 1rem/1.35 ManifoldDSA-ExtraBold, Helvetica, Roboto, Tahoma, sans-serif;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.0625rem;
    border: none;
    cursor: pointer;
    transition: all 150ms
}
.sdsa-2017-frontispiece .plate .actions a.small {
    padding: 8px 13px 8px;
}
.sdsa-2017-frontispiece .plate .actions a:hover {
    background: #f04e54;
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}
.sdsa-2017-frontispiece .plate .actions a.dark {
    background: black
}
.sdsa-2017-frontispiece .plate .actions a.dark:hover {
    background: #333;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}
.sdsa-2017-frontispiece .diptych .card {
    text-align: center;
    border: 0px transparent;
    margin-bottom: 0;
    margin-top: -1rem;
}
@media screen and (min-width: 900px) {
    .sdsa-2017-frontispiece .diptych .cards {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%
    }
    .sdsa-2017-frontispiece .diptych .card {
        width: 47.166666666667%;
        text-align: center
    }
}
@media screen and (max-width: 899px) {
    .sdsa-2017-frontispiece .diptych .card {
        max-width: 550px;
        margin: 0 auto 60px
    }
    .sdsa-2017-frontispiece .diptych .card:last-of-type {
        margin-bottom: 0
    }
}
.sdsa-2017-frontispiece .diptych .newsletter-signup {
    background: url("../images/ui-glyphs/stripes-red.png") repeat-x left bottom;
    background-size: 18px 16px;
    background-color: #f7f7f7;
    -ms-flex-order: 1;
    order: 1;
    box-shadow: 0 -5px 0 #f7f7f7;
    margin-top: 2rem;
}
.sdsa-2017-frontispiece .diptych .newsletter-signup .inner {
    padding: 40px 0 12px;
}

@media screen and (min-width: 1100px) {
    .sdsa-2017-frontispiece .diptych .newsletter-signup .pairing {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center
    }
    .sdsa-2017-frontispiece .diptych .newsletter-signup figure {
        width: 29.116465863454%;
        margin: 0 auto
    }
    .sdsa-2017-frontispiece .diptych .newsletter-signup .form {
        width: 61.847389558233%;
        margin: 0
    }
}
.sdsa-2017-frontispiece .diptych .newsletter-signup .pairing {
    width: 85.862068965517%;
    margin: 0 auto
}
.sdsa-2017-frontispiece .diptych .newsletter-signup figure {
    max-width: 145px;
    margin: 0 auto 30px
}
.sdsa-2017-frontispiece .diptych .newsletter-signup .fields {
    max-width: 250px;
    margin: 0 auto
}
.sdsa-2017-frontispiece .diptych .newsletter-signup h1 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.05;
    margin-bottom: 41px
}
.sdsa-2017-frontispiece .diptych .newsletter-signup input[type="text"], .sdsa-2017-frontispiece .diptych .newsletter-signup input[type="email"] {
    border: none;
    color: black;
    font: 400 normal 1rem/1.35 ManifoldDSA-Regular, Helvetica, Roboto, Tahoma, sans-serif;
    display: inline-block;
    text-align: center;
    width: 45%;
    background: white;
    padding: 11px 10px 11px;
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05)
}

input#mce-FNAME::placeholder, input#mce-LNAME::placeholder, input#mce-EMAIL::placeholder {
  color: #aaa;
}

.sdsa-2017-frontispiece .diptych .newsletter-signup h1 {
  font-family: ManifoldDSA-Medium, HelveticaNeue, Roboto, Arials, Sans-Serif;
}

.sdsa-2017-frontispiece .diptych .newsletter-signup input[type="email"]  { 
  width: 100%;
}

.sdsa-2017-frontispiece .diptych .newsletter-signup input::-webkit-input-placeholder,
.sdsa-2017-frontispiece .diptych .newsletter-signup input::-ms-input-placeholder,
.sdsa-2017-frontispiece .diptych .newsletter-signup input::placeholder {
    color: #aaa
}

.sdsa-2017-frontispiece .diptych .newsletter-signup input[type="submit"] {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 12px 30px 12px;
    background: #EC1F27;
    font: 400 normal 1rem/1.35 ManifoldDSA-ExtraBold, Helvetica, Roboto, Tahoma, sans-serif;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.0625rem;
    border: none;
    cursor: pointer;
    transition: all 150ms
}

input[type="submit"] {
  background-color: #EC1F27;
  padding: 1rem;
  color: white;
  border: 0px;
}

input[type="submit"]:hover {
  background-color: black;
}

.sdsa-2017-frontispiece .diptych .newsletter-signup input[type="submit"].small {
    padding: 6px 13px 3px
}
.sdsa-2017-frontispiece .diptych .newsletter-signup input[type="submit"]:hover {
    background: #f04e54;
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}
.sdsa-2017-frontispiece .diptych .newsletter-signup input[type="submit"].dark {
    background: black
}
.sdsa-2017-frontispiece .diptych .newsletter-signup input[type="submit"].dark:hover {
    background: #333;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle {
    background: url("../images/ui-glyphs/essay-plate-bottom.png") repeat-x left top, url("../images/ui-glyphs/stripes-black.png") repeat-x left bottom;
    background-size: 18px 109px, 18px 16px;
    background-color: #EC1F27;
    color: white;
    -ms-flex-order: 2;
    order: 2;
    margin-top: -1rem;
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .inner {
    padding: 138px 0 65px
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .contents {
    margin: 0 20px
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle h1 {
    text-transform: uppercase;
    font-size: 1.0625rem;
    font-weight: 700;
    margin-bottom: 35px
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs-carousel {
    position: relative
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .action {
    padding-top: 40px
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .action a {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 12px 30px 12px;
    background: #EC1F27;
    font: 400 normal 1rem/1.35 ManifoldDSA-ExtraBold, Helvetica, Roboto, Tahoma, sans-serif;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.0625rem;
    border: none;
    cursor: pointer;
    transition: all 150ms
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .action a.small {
    padding: 8px 13px 8px
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .action a:hover {
    background: #f04e54;
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .action a.dark {
    background: black
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .action a.dark:hover {
    background: #333;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2)
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs {
    position: relative;
    z-index: 1;
    min-height: 50px
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs li {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    font-size: 1.3125rem;
    line-height: 1.1;
    box-sizing: border-box;
    padding: 0 40px;
    opacity: 0;
    transition: all 400ms;
    font-weight: 500;
    list-style:none;
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs li.active {
    opacity: 1
}
@media screen and (max-width: 370px) {
    .sdsa-2017-frontispiece .diptych .beliefs-cycle .beliefs li {
        font-size: 1.125rem
    }
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .control {
    position: absolute;
    background: url("../images/ui-glyphs/caret-leftward.png") no-repeat center center;
    background-size: 10px 18px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    top: 50%;
    border: none;
    cursor: pointer;
    transition: all 200ms;
    transform: translateY(-50%) scale(1);
    z-index: 2
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .control.prev {
    left: -10px
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .control.next {
    right: -10px;
    background-image: url("../images/ui-glyphs/caret-rightward.png")
}
.sdsa-2017-frontispiece .diptych .beliefs-cycle .control:hover {
    transform: translateY(-50%) scale(1.2)
}

/***** end of jonwhite code *****/

@media screen and (min-width: 1701px) {
    #content #dsa-home-row-1 {
        background: url("../images/scene-01-waves.png") repeat-x left 556px, url("../images/scene-02-trees.png") no-repeat -240px 443px, url("../images/scene-03-spaceneedle.png") no-repeat 22% 47px, url("../images/scene-04-mountain.png") no-repeat 45% 408px, url("../images/scene-05-cloud1.png") no-repeat 42% 235px, url("../images/scene-06-cloud2.png") no-repeat 87% 54px, url("../images/scene-07-sky.png") no-repeat left top;
        background-size: 204px 95px, 480px 208px, 152px 604px, 558px 243px, 126px 66px, 148px 64px, 100% 651px;
    }
}
@media screen and (min-width: 1351px) and (max-width: 1700px) {
    #content #dsa-home-row-1 {
        background: url("../images/scene-01-waves.png") repeat-x left 556px, url("../images/scene-02-trees.png") no-repeat -21% 443px, url("../images/scene-03-spaceneedle.png") no-repeat 22% 47px, url("../images/scene-04-mountain.png") no-repeat 45% 408px, url("../images/scene-05-cloud1.png") no-repeat 42% 235px, url("../images/scene-06-cloud2.png") no-repeat 87% 54px, url("../images/scene-07-sky.png") no-repeat left top;
        background-size: 204px 95px, 480px 208px, 152px 604px, 558px 243px, 126px 66px, 148px 64px, 100% 651px;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1390px) {
    #content #dsa-home-row-1 {
        background: url("../images/scene-01-waves.png") repeat-x left 556px, url("../images/scene-02-trees.png") no-repeat -30% 443px, url("../images/scene-03-spaceneedle.png") no-repeat 22% 47px, url("../images/scene-04-mountain.png") no-repeat 45% 408px, url("../images/scene-05-cloud1.png") no-repeat 42% 235px, url("../images/scene-06-cloud2.png") no-repeat 87% 54px, url("../images/scene-07-sky.png") no-repeat left top;
        background-size: 204px 95px, 480px 208px, 152px 604px, 558px 243px, 126px 66px, 148px 64px, 100% 651px;
    }
}
@media screen and (min-width: 900px) and (max-width: 1099px) {
    #content #dsa-home-row-1 {
        background: url("../images/scene-01-waves.png") repeat-x left 556px, url("../images/scene-02-trees.png") no-repeat -40% 443px, url("../images/scene-03-spaceneedle.png") no-repeat 22% 47px, url("../images/scene-04-mountain.png") no-repeat 45% 408px, url("../images/scene-05-cloud1.png") no-repeat 42% 235px, url("../images/scene-06-cloud2.png") no-repeat 87% 54px, url("../images/scene-07-sky.png") no-repeat left top;
        background-size: 204px 95px, 480px 208px, 152px 604px, 558px 243px, 126px 66px, 148px 64px, 100% 651px;
    }
}
@media screen and (max-width: 899px) {
    #content #dsa-home-row-1 {
        background: url("../images/mobile-mural.png") no-repeat left top;
        background-size: 100% auto;
    }
}







@media screen and (min-width: 65em){
 	#dsa-home-row-1 .dsa-home-row-2-edit .dsa-slides {
		    background: url(../images/card-top-blue.png) repeat-x left top;
		    background-size: 18px 109px, 18px 16px;
		    background-color: #EC1F27;
		    color: white;
		    -ms-flex-order: 2 !important;
		    order: 2  !important;
		}
}

@media screen and (max-width: 40em) {
 	.dsa-main-content {
 		border-bottom: 12px solid transparent;
	  padding: 12px;
	  -webkit-border-image: url(../images/stripes-black.png) 12 repeat; /* Safari 3.1-5 */
	  -o-border-image: url(../images/stripes-black.png) 12 repeat; /* Opera 11-12.1 */
	  border-image: url(../images/stripes-black.png) 12 repeat;
	}
	#dsa-home-row-1 .dsa-home-row-2-edit .dsa-slides {
		background: #ec1f27 none;
	}
	.card-gray {
		margin-bottom: 2rem;
	}
}

#dsa-home-row-1 .dsa-home-row-1-edit {
    padding: 132px 0 0 0
}
@media screen and (max-width: 899px) {
    #dsa-home-row-1 #inner-content {
        padding: 55% 0 0 0
    }
}

#dsa-home-row-1 .dsa-slides .orbit {
  padding: 175px 0 48px;
}

#dsa-home-row-1 .row {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
}

#dsa-home-row-1 .dsa-home-row-edit-2 {
  display: -ms-flexbox;
  display: flex !important;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


h1 small, h2 small, h3 small, h4 small, h5 small {
  text-transform: uppercase;
  font-size: 0.5em;
  display:block;
  margin: 0.5em 0 1em 0;
}

.eva-orbit button.orbit-next, .eva-orbit button.orbit-previous {
background-color: transparent;
color: white;
}

.row.dsa-main-actions {
  padding-top: 1rem;
}


.row.dsa-main-actions a {
    margin: 0 3% 0 0;
    width: 30%;
}

.row.dsa-call-to-action a {
    margin: 0 3% 0 0;
    width: 30%;
    font-family: ManifoldDSA-ExtraBold, Helvetica, Tahoma, Sans-Serif;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #fff;
}

#menu-footer.menu > li {
  width: 45%;
  display:inline-block;
}

#dsa-footer .sidebar .widget {
  text-align: center;
}

#dsa-footer .sidebar .widget div {
  text-align: left;
}

a.button.radius.button-white {
  border: none;
  color: black;
}

a.button.radius.button-white:hover {
  border: none;
  background-color: #ec1f27;
  color: white;
}

a.button.button-clear-white {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-left: 1rem;
}

a.button.button-red-white {
  background-color: #ec1f27;
  color: white;
}

a.button.button-clear-blue {
  background-color: white;
  color: #5555ee;
  border: 2px solid #5555ee;
}

a.button.button-clear-blue {
  background-color: #5555ee;
  color: white;
  border: 2px solid #5555ee;
}

a.button.button-clear-black {
  background-color: white;
  color: #231F20;
  border: 2px solid #231F20;
}

a.button.button-clear-black:hover {
  background-color: #231F20;
  color: white;
  border: 2px solid #231F20;
}

a.button.button-clear-gold {
  background-color: #E5B900;
  color: white;
  border: 2px solid #E5B900;
}

a.button.button-clear-gold:hover {
  background-color: #FFDD4C;
  color: white;
  border: 2px solid #FFDD4C;
}

.button.radius {
  border-radius: 1rem;

}

.button-group.expanded .button {
  padding: 0.85em 0.5em;
}

.menu>li>a.dsa-top-name:hover {
  background-color: #ec1f27;
}

/*
* The Events Calendar Modifications
*/

.dsa-slide .tribe-mini-calendar-event .list-info h2 {
  font-size:1.5em;
}

.dsa-slide .tribe-events-title a {
  color: #ec1f27;
}

.tribe-events-calendar .tribe-events-category-general, .tribe-this-week-widget-weekday-wrapper .tribe-events-category-general {
  border-left: 0.35em solid #ec1f27;
}

.tribe-events-calendar .tribe-events-category-activism, .tribe-this-week-widget-weekday-wrapper .tribe-events-category-activism {
  border-left: 0.35em solid #231F20;
}

.tribe-events-calendar .tribe-events-category-education, .tribe-this-week-widget-weekday-wrapper .tribe-events-category-education {
  border-left: 0.35em solid #999;
}

.tribe-events-calendar .tribe-events-category-community, .tribe-this-week-widget-weekday-wrapper .tribe-events-category-community {
  border-left: 0.35em solid #E5B900;
}


.tribe-this-week-widget-wrapper .tribe-this-week-widget-day .tribe-venue a {
	display:block;
	padding: 0.5em 0 0 0;
}


.tribe-events-month .tribe-events-nav-next a, .tribe-events-month .tribe-events-nav-previous a, #tribe-events .tribe-events-month .tribe-events-ical.tribe-events-button {
  background-color: #ec1f27;
  color: #fff;
  display: block;
  padding: 0.5em;
  border-radius: 2em;
}

.tribe-events-month .tribe-events-nav-next a:hover, .tribe-events-month .tribe-events-nav-previous a:hover, #tribe-events .tribe-events-month .tribe-events-ical.tribe-events-button:hover {
  background-color: #231F20;
  color: #fff;
  display: block;
  border-radius: 2em;
}

.tribe-this-week-events-widget .tribe-this-week-event .entry-title.summary a, .tribe-this-week-events-widget .tribe-this-week-event .tribe-address a, .tribe-events-month-event-title a {
  display: block;
}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured.tribe-events-category-general {
background-color: #ec1f27;

}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured.tribe-events-category-community {
background-color: #E5B900;

}

.tribe-events-category-community .tribe-mini-calendar-event .list-date {
background-color: #ec1f27;
}

.tribe-events-category-community .tribe-mini-calendar-event .list-date {
background-color: #bbaa44;
}

#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured .tribe-events-month-event-title a:before {
    content: "";
    font-family: FontAwesome;
    float: left;
    color: gold;
}

.tribe-this-week-events-widget .tribe-this-week-event .entry-title.summary a, .tribe-events-tooltip .entry-title {
  font-family: ManifoldDSA-ExtraBold, Helvetica, Roboto, Arial, Sans-Serif;
  font-weight: 800;
}

/*
*	Form Changes
*/
[type=phone]
{	display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #0a0a0a;
    -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*********************
GENERAL STYLES
*********************/

header, body, p, h1.txt-medium, h2.txt-medium, h3.txt-medium, h4.txt-medium, h5.txt-medium {font-family: ManifoldDSA-Medium, Helvetica, Tahoma, Sans-Serif;}
h1, h2, h3, h4, h5 {font-family: ManifoldDSA-Light, Helvetica, Tahoma, Sans-Serif;}
b, strong, h1 small, h2 small, h3 small, h4 small, h5 small, h1.txt-bold, h2.txt-bold, h3.txt-bold, h4.txt-bold, h5.txt-bold {font-family: ManifoldDSA-ExtraBold, Helvetica, Tahoma, Sans-Serif;}

/*********************
LINK STYLES
*********************/
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }


/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none; }
/*********************
HEADER STYLES
*********************/

.header ul.off-canvas-list li {
  list-style: none; }


/*********************
NAVIGATION STYLES
*********************/

.top-bar .title-area {
  z-index: 1; }

.off-canvas-list ul {
  margin-left: 0; }
  .off-canvas-list ul li a {
    border-bottom: 0px; }
  .off-canvas-list ul .dropdown {
    margin-left: 20px; }

/*********************
POSTS & CONTENT STYLES
*********************/
#content #inner-content {
  padding: 1rem 0rem; }

.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
    max-width: 80%;
    background: #eee;
    margin-left: 10%;
    padding: 10px 25px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  background: #2199e8;
  color: #fff; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background: #1583cc;
    color: #fff; }

/*********************
IMAGE GALLERY STYLES
*********************/
/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul {
  margin: 0; }
  .widget ul li {
    list-style: none; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 0em;
  padding-top:1em;
background-color: #ec1f27;
color: #fff;
}

.footer a {
color: #fff;
}

.footer a:hover {
background-color: #000;
color: #fff;
}

.footer h4 {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0.25em 1em;
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }